<div class="ph-widget">
  <a class="ph-logo-container" target="_blank" title="Read and discuss on PaperHive" href="<%= url %>">
    <img class="ph-logo" src="<%= logo %>">
    <% if (numDiscussions) { %>
      <span class="ph-badge"><%= numDiscussions %></span>
    <% } %>
  </a>
  <div class="ph-description">
    <% if (numDiscussions || numHives) { %>
      <h1><a target="_blank" href="<%= url %>">Read and discuss on PaperHive</a></h1>
      <small>
        <% if (numDiscussions) { %>
          <%= numDiscussions %> discussion<%= numDiscussions > 1 ? 's' : '' %>
        <% } %>
        <% if (numDiscussions && numHives) { %>&middot;<% } %>
        <% if (numHives) { %>
          <%= numHives %> hive<%= numHives > 1 ? 's' : '' %>
        <% } %>
      </small>
    <% } else { %>
      <div class="ph-no-data">
        <h1><a target="_blank" href="<%= url %>">Read and discuss on PaperHive</a></h1>
      </div>
    <% } %>
  </div>
</div>
