<style><%= css %></style>
<div class="ph-widget">
  <a class="ph-logo-container" target="_blank"
    title="Read and discuss on PaperHive<%
      if (details) { %> &middot; <%= details %><% }
      %>"
    href="<%= url %>"
  >
    <img class="ph-logo" src="<%= logo %>">
    <% if (data.stats.numDiscussions) { %>
      <span class="ph-badge"><%= shortenNumber(data.stats.numDiscussions) %></span>
    <% } %>
  </a>
  <div class="ph-description">
    <h1>
      <a target="_blank" href="<%= url %>" title="Read and discuss on PaperHive<%
        if (details) { %> &middot; <%= details %><% }
        %>"
      >
        Read and discuss <span class="ph-description-extended">on PaperHive</span>
      </a>
    </h1>
    <% if (details) { %>
      <small class="ph-description-details"><%= details %></small>
    <% } %>
  </div>
</div>
